body{
    margin:0%;
    overflow: hidden;
    display: flex;
    justify-content:center;
    align-items:center;
    height:100px;
    background-color:#de8cf0; 
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;*/

}

.card{
    background: white;
    border-radius: 20px;
    padding: 30px;
    width: 400px;
    text-align: center;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    position: relative;
}

h1{
    margin: 0;
    color: #ff6b6b;
    font-size: 2ex;
}

 p{
    color:#555;
    font-size: 1.1ex;
    margin: 15px 0;
    min-height: 50px;

}

button{
    padding: 10px 20px;
    border: none;
    background: #ff6b6b;
    color: white;
    font-size: 1ex;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover{
    background: #ff4c4c;

}

.heart{
    position: absolute;
    width: 20px;
    height: 20px;
    background: red;
    transform: rotate(-45-deg);
}

.heart::before, .heart::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 50%;
}

.heart::before{
    top: -10px;
    left: 0;
}

.heart::after{
    top: 0;
    left: 10px;
}

@keyframes float{
    0%{
        transform: translateY(0) rotate(-45deg);
        opacity: 1;
    }
    50%{
        transform: translateY(-25px) rotate(-45deg);
        opacity: 0.7;
    }
    100%{
        transform: translateY(0) rotate(-45deg);
        opacity: 1;
    }
}

.sparkels{
    position:fixed;
    width:10px;
    height:10px;
    background: #ff6b6b;
    top:0;
    animation: fall is linear infinite;

}

@keyframes fall {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translateY(100vh) rotate(360deg);
        opacity: 0;
    }
}