<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wishing profile</title>
</head>
<body>
    <div class="profile">
        <h1>Welcome to your profile</h1>
        <p>Be happy and enjoy your life to the fullest!...</p>
        <p>Make the most of every moment and cherish the memories you create.</p>
        <p>If any make u sad, remember that brighter days are ahead!...</p>
        <p>Be positive and spread joy wherever you go!...</p>
    
        <a href="profile1.3.html"><button>Next page</button></a>
    </div>
</body>
</html>